<div class="row" style="padding-right: 1rem; z-index: 100000000;">
  <div class="col px-0 mb-sm-1">
    <div class="float-end">
      <button class="button button-hover-dark button-blue mb-sm-1 generate-sm" style="outline: none"
        hx-post="{% url 'next_word' %}" hx-target="#word-translate"
        hx-vals='js:{"selected_words_list_id":"{{selected_words_list_id}}","selected_words_list_name":"{{selected_words_list_name}}"}'>
        NEXT
      </button>
    </div>
  </div>
</div>

<div class="row box mx-1 ps-3" style="margin-bottom: .5rem;">
  <div class="col-sm ps-0 pe-3 py-3">

    <p class="mb-1 fw-bold">WORD</p>
    <p class="wire-frame p-3">
      <span id="word" class="text-uppercase">{{ word.word }}</span>
      {% if word.type %}
      <span id="type">({{ word.type }})</span>
      {% endif %}
    </p>

    <p class="mb-1 fw-bold">DESCRIPTION</p>
    <div class="wire-frame p-3 mb-3">
      <span id="description" class="upper-fl">{{ word.description }}</span>
    </div>

    <p class="mb-1 fw-bold">EXAMPLE</p>
    <div class="wire-frame p-3 mb-3">
      {% if word.example == None %}
      <span id="example"> </span>
      {% else %}
      <span id="example" class="upper-fl">{{ word.example }}</span>
      {% endif %}
    </div>

    <p class="mb-0 fw-bold">SYNONYMS</p>
    {% if synonyms %}
    {% for i in synonyms %}
    <div class="wire-frame p-2 mt-1">
      {% for word in i.words %}
      <span class="badge m-1 badge-primary">{{word}}</span>
      {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <div class="wire-frame p-2">
    </div>
    {% endif %}

  </div>

  <div class="col-sm ps-0 pe-3 py-3">
    <p class="mb-1 fw-bold">TRANSLATION</p>
    <div class="wire-frame p-3">

      <p class="mb-1">
        <span class="fw-bold">WORD: </span>
        {% if translated_data is not None %}
        <span class="text-uppercase">{{translated_data.word}}</span>
        {% endif %}
      </p>

      <p class="mb-1 fw-bold">TRANSLATIONS:
        {% if translated_data is not None %}
        <ul>
          {% for i in translated_data.translate %}
          <li class="text-uppercase">{{i.type}}</li>
          {% autoescape off %}
          <ul>{{i.words}}</ul>
          {% endautoescape %}
          {% endfor %}
        </ul>
        {% endif %}
      </p>

    </div>
  </div>
</div>

<form class="mb-3" hx-post="{% url 'translate_word' %}" hx-target="#word-translate"
  hx-vals='js:{"selected_words_list_id":"{{selected_words_list_id}}","selected_words_list_name":"{{selected_words_list_name}}","word_id":{{word.id}}}'>
  <div class="row pl-0" style="padding-right: .9rem;">

    <div class="col">
      <select class="form-select btn-dropdown button-hover-dark" style="width: 227px; padding-right: 2rem;"
        name="destination_language">
        {% if destination_language is None %}
        <option selected disabled hidden>CHOOSE LANGUAGE</option>
        {% endif %}
        {% for language in languages %}
        <option value="{{language.code}}"
          {% if destination_language is not None and destination_language == language.code %} selected {% endif %}>
          {{language.eng_name}} - {{language.native_name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col p-0">
      <div class="float-end">
        <button class="button button-hover-dark button-blue" style="outline: none; height: auto" type="submit">
          TRANSLATE
        </button>
      </div>
    </div>

  </div>
</form>
