<div class="row" style="padding-right: 1rem; z-index: 100000000;">
  <div class="col px-0 mb-sm-1">
    <div class="float-end">
      <button class="button button-hover-dark button-blue mb-sm-1 generate-sm" style="outline: none"
        hx-post="{% url 'next_word' %}" hx-target="#word-translate"
        hx-vals='js:{"selected_words_list_id":"{{selected_words_list_id}}","selected_words_list_name":"{{selected_words_list_name}}"}'>
        NEXT
      </button>
    </div>
  </div>
</div>

{% if word %}
<div class="row box mx-1 ps-3" style="margin-bottom: .5rem;">

  <div class="col-sm ps-0 pe-3 py-3">

    <div class="wire-frame p-3">

      <p><span class="mb-1 fw-bold">WORD: </span>
        <span id="word" class="text-uppercase">{{ word.word }}</span>
        {% if word.type %}
        <span id="type">({{ word.type }})</span>
        {% endif %}
      </p>

      <p><span class="mb-1 fw-bold">DESCRIPTION: </span>
        <span id="description" class="upper-fl">{{ word.description }}</span>
      </p>

      <p><span class="mb-1 fw-bold">EXAMPLE: </span>
        {% if word.example == None %}
        <span id="example"></span>
        {% else %}
        <span id="example" class="upper-fl">{{ word.example }}</span>
        {% endif %}
      </p>

      <p><span class="mb-0 fw-bold">SYNONYMS</span>
        <br>
        {% if synonyms %}

        {% for i in synonyms %}

        {% for word in i.words %}
        <span class="badge m-1 badge-primary">{{word}}</span>
        {% endfor %}

        {% if i != synonyms.last %}

        <hr>

        {% endif %}

        {% endfor %}

        {% else %}

        {% endif %}
      </p>

    </div>
  </div>

  <div class="col-sm ps-0 pe-3 py-3">

    <div class="wire-frame p-3">

      <p class="mb-1">
        <span class="fw-bold">WORD: </span>
        {% if translated_data is not None %}
        <span class="text-uppercase">{{translated_data.word}}</span>
        {% endif %}
      </p>

      <p class="mb-1 fw-bold">TRANSLATIONS
        {% if translated_data is not None %}
        <ul>
          {% for i in translated_data.translate %}
          <li class="text-uppercase">{{i.type}}</li>
          {% autoescape off %}
          <ul>{{i.words}}</ul>
          {% endautoescape %}
          {% endfor %}
        </ul>
        {% endif %}
      </p>

    </div>
  </div>
</div>

<form class="mb-3" hx-post="{% url 'translate_word' %}" hx-target="#word-translate"
  hx-vals='js:{"selected_words_list_id":"{{selected_words_list_id}}","selected_words_list_name":"{{selected_words_list_name}}","word_id":{{word.id}}}'>
  <div class="row pl-0" style="padding-right: .9rem;">

    <div class="col mb-2">
      <select class="form-select btn-dropdown button-hover-dark" style="width: 227px; padding-right: 2rem;"
        name="destination_language">
        {% if destination_language is None %}
        <option selected disabled hidden>CHOOSE LANGUAGE</option>
        {% endif %}
        {% for language in languages %}
        <option value="{{language.code}}"
          {% if destination_language is not None and destination_language == language.code %} selected {% endif %}>
          {{language.eng_name}} - {{language.native_name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col p-0">
      <div class="float-end">
        <button class="button button-hover-dark button-blue" style="outline: none; height: auto" type="submit">
          TRANSLATE
        </button>
      </div>
    </div>

  </div>
</form>

{% else %}
<div class="row box mx-1 ps-3" style="margin-bottom: .5rem;">

  <div class="col-sm ps-0 pe-3 py-3">
    <div class="wire-frame p-3">
      <ul>
        <li>A random word from the list chosen in the <strong>CHOOSE WORDS LIST</strong> is displayed when the
          <strong>NEXT</strong>
          button is pressed.
        </li>
        <li>You can see the word's translation for the chosen language in <strong>CHOOSE LANGUAGE</strong> by clicking
          the <strong>TRANSLATE</strong>
          button. Any language that you choose can be selected as the default language in Settings.</li>
        <li>By registering, you may make your own Words Lists.</li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
