{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="card p-0 ml-sm-3">
      <div class="card-header fw-bold ">
        FORGOT PASSWORD
      </div>
      <div class="card-body p-0"></div>
      <form class="p-20" method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
          <label for="InputEmail">Email</label>
          {{ form.email }}
        </div>
        <button class="button button-blue button-hover-light" style="height: auto;">SEND RESET LINK</button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
