{% extends 'base.html' %}
{% block title %} Main Page {% endblock %}
{% block content %}
<div class="position-relative" style="top: 0%; left: 0%;">
  <div class="position-absolute">
    <div class="dropdown mb-2 cylist-sm">
      <div for="#choose-list"> CHOOSE WORDS LIST: </div>
      <button id="choose-list" class="dropdown-toggle btn-dropdown button-hover-dark" type="button"
        data-bs-toggle="dropdown" aria-expanded="true">
        {% if selected_words_list_name in "default_words_list" %}
        Default Words List
        {% else %}
        {{selected_words_list_name}}
        {% endif %}
      </button>
      <ul id="choose-list" class="dropdown-menu">

        <ul><span class="text-uppercase fw-bolder me-3">Default Words Lists</span>
          {% for words_list in default_words_lists %}
          <form id="choose-list" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="dropdown-item" name="button" value="choose_words_list">
            <input type="hidden" class="dropdown-item" name="words_list_id" value="{{words_list.pk}}">
            <input type="hidden" class="dropdown-item" name="words_list_name" value="{{words_list.name}}">
            <button class="dropdown-item" name="button_ismi" value="choose_words_list">
              {% if words_list.name in "default_words_list" %}
              Default Words List
              {% else %}
              {{words_list.name}}
              {% endif %}
            </button>
          </form>
          {% endfor %}
        </ul>

        <ul><span class="text-uppercase fw-bolder me-3">My Words Lists</span>
          {% for words_list in user_words_list %}
          <form id="choose-list" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="dropdown-item" name="button" value="choose_words_list">
            <input type="hidden" class="dropdown-item" name="words_list_id" value="{{words_list.pk}}">
            <input type="hidden" class="dropdown-item" name="words_list_name" value="{{words_list.name}}">
            <button class="dropdown-item" name="button_ismi" value="choose_words_list">
              {% if words_list.name in "default_words_list" %}
              Default Words List
              {% else %}
              {{words_list.name}}
              {% endif %}
            </button>
          </form>
          {% endfor %}
        </ul>

        <ul><span class="text-uppercase fw-bolder me-3">Subscribed Words Lists</span>
          {% for words_list in user_subscribed_list %}
          <form id="choose-list" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="dropdown-item" name="button" value="choose_words_list">
            <input type="hidden" class="dropdown-item" name="words_list_id" value="{{words_list.pk}}">
            <input type="hidden" class="dropdown-item" name="words_list_name" value="{{words_list.name}}">
            <button class="dropdown-item" name="button_ismi" value="choose_words_list">
              {% if words_list.name in "default_words_list" %}
              Default Words List
              {% else %}
              {{words_list.name}}
              {% endif %}
            </button>
          </form>
          {% endfor %}
        </ul>

      </ul>
    </div>
  </div>
</div>
<br>

<div id="word-translate">
  {% include 'partials/word_and_translate.html' %}
</div>

{% endblock %}
