{% extends 'base.html' %}
{% block title %} Main Page {% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 row">
    <div class="col-sm-4" style="padding-left: 0">
      <div class="dropdown mb-2 cylist-sm">
        <button type="button" class="dropdown-toggle dropdown-list mb-1" data-toggle="dropdown">
          CHOOSE YOUR LIST
        </button>
        <ul id="choose-list" class="dropdown-menu">
          <li class="dropdown-item">List 1</li>
          <li class="dropdown-item">List 2</li>
          <li class="dropdown-item">List 3</li>
          <!--<li><input class="dropdown-item" type="submit" value="List 3"></li>-->
        </ul>
      </div>
    </div>

    <div class="col-sm-8 px-0">
      <div class="float-end row">
        <form class="col" method="post">
          {% csrf_token %}
          <input type="hidden" name="button" value="next">
          <input type="hidden" name="word_list" value="{{word_list}}" />
          <input type="hidden" name="word_id" value="{{word.id}}" />
          <button class="button button-dark mb-sm-1 generate-sm" style="outline: none">
            NEXT
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 box p-3">
      <p class="mb-1 font-weight-bold">WORD</p>
      <p class="wire-frame p-2 text-uppercase">
        <span id="word">{{ word.word }}</span>
        <span>({{ word.type }})</span>
      </p>

      <p class="mb-1 font-weight-bold">DESCRIPTION</p>
      <div id="description" class="wire-frame p-2">
        <ul>
          {%for item in word.description%}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-12 mb-2">
      <!--ChooseWeb Start-->
      <div class="dropdown">
        <button id="webSite" type="button" class="dropdown-toggle dropdown-list" data-toggle="dropdown" value=" ">
          CHOOSE WEBSITE
        </button>
        <ul id="choose-web" class="dropdown-menu">
          <li class="dropdown-item">GOOGLE TRANSLATE</li>
          <li class="dropdown-item">YANDEX TRANSLATE</li>
        </ul>
      </div>
      <!--ChooseWeb End-->
    </div>
    <div class="col-12 mb-2">
      <!--ChooseLang Start-->
      <div class="dropdown">
        <button id="yourLang" type="button" class="dropdown-toggle dropdown-list" data-toggle="dropdown" value=" ">
          CHOOSE LANGUAGE
        </button>
        <ul id="choose-lang" class="dropdown-menu" style="overflow: auto; max-height: 20rem"></ul>
      </div>
      <!--ChooseLang End-->
    </div>
    <div class="col-12 mb-sm-4 translate-sm">
      <button id="translate" class="button button-dark" style="outline: none; height: auto" onclick="trans()">
        TRANSLATE
      </button>
      <br />
      <small class="form-text text-muted">You must first choose a website before you can choose a
        language.</small>
    </div>
  </div>
</div>
{% endblock %}
