{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="card p-0 ml-sm-3">
      <div class="card-header fw-bold">
        RESET PASSWORD
      </div>
      <div class="card-body p-0"></div>
      <form class="p-20" method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
          <label for="InputPassword">New Password</label>
          {{ form.password }}
        </div>
        <div class="form-group mb-3">
          <label for="InputPassword">New Password Check</label>
          {{ form.password2 }}
        </div>
        <button class="button button-blue button-hover-light" style="height: auto;">RESET</button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
